<?xml version="1.0"?>

<model>
  <name>Electrical_Substation</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  
  <author>
    <name>Kevin Halim</name>
    <email>kevin.halim@student.manchester.ac.uk</email>
  </author>
  
  <description>Electrical Substation</description>
</model>
